<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Image Uploading</title>
	<link rel="stylesheet" href="/views/display.css">
</head>
<body>

    <h1>Comment</h1>

	<div>
		<input type="text" name="userInput" id="userInput" placeholder="enter username e.g. hans">
		<form action="/searchForUser" method="POST">
			<button type="submit">Search user!</button>
		</form>
    </div>
	<hr>

</body>
</html>
