<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Image Uploading</title>
	<link rel="stylesheet" href="/views/display.css">
</head>
<body>

	<form action="/back" method="post">
        <button type="submit">Back</button>
    </form>

    <h1>Comments</h1>

	<div>



		<form action="/uploadComment" method="POST">
			<textarea name="userComment" id="userComment" required></textarea>
			<br>
			<button type="submit">Comment content</button>
			<input name="contentIdent" id="contentIdent" value="<%= contentIdent %>" hidden>
		</form>
    </div>
	<hr>
	<table>
		<% comments.forEach(function(comment) { %>
			<tr>
				<th>
					<p><%= comment.comment %></p>
				</th>
			</tr>		
		<% }) %>
	</table>

</body>
</html>
