<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Image Uploading</title>
	<link rel="stylesheet" href="/design/login.css">
</head>
<body class="background">

    <h1 class="title">Log-In</h1>

    <div class="login">
        <label name="errorMessage"></label>

        <form action="/login" method="POST">
            <label for="username">Username</label><br>
            <input type="text" id="username" placeholder="Username"
                value="" name="username" required>  
            <br><br>
            <label for="password">Password</label><br>
            <input type="password" id="password" placeholder="zb.1234"
                value="" name="password" required> 
            <br><br>
            <button class="button" type="submit">Log-In</button>
        </form>
        <br>
		<a href="/"><button class="button" type="submit">Back</button></a>

    </div>


</body>
</html>
