<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Image Uploading</title>
	<link rel="stylesheet" href="/views/display.css">
</head>
<body>
    <form action="/back" method="post">
        <button type="submit">Back</button>
    </form>
    <h1>
        Upload a new text to your profile
	</h1>
    <hr>
	<div>
		<form action="/uploadText" method="POST" enctype="multipart/form-data">
			<div>
                <label for="userTitle">Title</label><br>
                <input type="text" id="userTitle" name="userTitle"><br>

				<label for="userText">Text</label>
                <br>
				<textarea id="userText" name="userText" value="" rows="2" 
                required>
				</textarea>
			</div>
            <br>
			<div>
				<button type="submit">Submit</button>
			</div>
		</form>
	</div>
</body>

</html>
