<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Image Uploading</title>
	<link rel="stylesheet" href="/views/display.css">
</head>
<body>
	
	<form action="/back" method="post">
		<button type="submit">Back</button>
	</form>

    <h1>User Search</h1>

    <div>
		<form action="/searchForUser" method="POST">
			<input type="text" name="userInput" id="userInput" placeholder="enter username e.g. hans">
			<button type="submit">Search user!</button>
		</form>
    </div>
	<hr>
</body>
</html>
