<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Image Uploading</title>
	<link rel="stylesheet" href="/design/welcome.css">
</head>
<body class="background">
	<h1 class="title">
		Welcome to Mega-Light-Easy-Media aka. M.L.E.M
	</h1>
	<hr>
	<div>
		<form action="/login" method="GET" enctype="multipart/form-data">
			<div class="welcome">
                <label name="login">Press button to continue</label><br>
				<button class="button" type="submit">Login</button>
			</div>
		</form>
		<br>
        <form action="/register" method="GET" enctype="multipart/form-data">
			<div class="welcome">
                <label name="register">Do not have an account yet? Get one right now!</label><br>
				<button class="button" type="submit">Register</button>
			</div>
		</form>
	</div>
</body>

</html>
